<h1>Create Song:</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <br>
  <%= f.label :artist %>
  <%= f.collection_select :artist_id, @artists, :id, :name%>
  <br>
  <br />

  <%= f.submit %>
<% end %>
